$bgColor: rgb(22, 24, 19);
$linkColor: rgb(186, 156, 121);

$audioHeight : 75px;

$titleTokyoWidth : 160px;
$titleTawnyWidth : 105px;
$titleHeight     : 38px;

#link-wrapper {
  z-index: 1;

  position: absolute;
  width: 225px;
  opacity: 0;
  margin-top: 1px;

  @include transition-property(all);
  @include transition-duration(1s);
  @include transition-delay(0.5s);

  &.hover {
    opacity: 1;
    @include transition-duration(1s);
  }

  // -------------
  // audio
  // -------------

  .link-text {
    width: 100%;
    height: $audioHeight;
    overflow: hidden;

    // hover state
    &.mouse-enter {
      .wrapper {
        .bg {
          margin-top: 0;
          height: $audioHeight;
        }

        .content {
          color: $linkColor;

          p {
            a {
              color: $linkColor;
              text-decoration: none;
            }
          }



        }

        div.title{
          div.title-content{

            .main-title {

              color: $linkColor;
            }

            .sub-title {

              color: $linkColor;
            }



          }

          div.title-border{
            background: $linkColor !important;
          }


          a.cover{
          }
        }



        .audio {

          opacity: 1;
          width: 20px;
          color: $linkColor;
          @include transition-property(all);

          @include transition-duration(.1s);
          @include transition-delay(0.1s);

        }

      }

    }

    // normal state
    .wrapper {
      position: relative;

      .audio {
        position: absolute;
        overflow: hidden;

        height: 18px;

        opacity: 0;
        width: 0;
        color: $bgColor;

        &:hover {
          cursor: pointer;
        }

        @include transition-property(all);

        &.playingOut {
          opacity: 1;
          width: 20px;
        }

        &#tokyo-audio-icon {
          margin-left: 10px;
        }

        &#tawny-audio-icon {
          margin-left: 37px;
        }

        margin-top: -27px;

        .icon-wrapper {
          &.play {
            margin-top: 0;
            @include transition-duration(.3s);

          }

          &.stop {
            margin-top: -18px;
            @include transition-duration(.3s);
          }

        }

      }

      .content {
        padding: 19px 0;
        width: 100%;

        position: absolute;
        color: $bgColor;

        @include transition-property(all);
        @include transition-duration(.3s);

        div.title{
          position: relative;

          margin: auto;
          overflow: hidden;

          &#tokyo-title-text{
            width: $titleTokyoWidth;
            height: $titleHeight;
          }

          &#tawny-title-text{
            width: $titleTawnyWidth;
            height: $titleHeight;
          }

          &.title-hover{
            div.title-content{
              top  : 0px;
            }

            div.title-border{
              width: 100%;
              margin-left: 0;
              opacity: 1;

            }
          }

          div.title-content{

            position: absolute;
            top  : 0;
            left : 0;

            width: 100%;

            @include transition-property(all);
            @include transition-duration(.5s);

            p {
              width: 100%;
              text-align: center;
              color: $bgColor;


              &.main-title {
                font-size: 20px;

              }

              &.sub-title {
                text-align: center;
                font-size: 10px;
              }

            }
          }

          div.title-border{
            position: absolute;
            bottom: 2px;
            margin-left: 50%;
            left: 0;
            width: 0;
            height: 1px;
            opacity: 0;
            background: $bgColor;

            @include transition-property(all);
            @include transition-duration(.5s);
          }

          a.cover{
            display: block;
            position: absolute;
            width: 100%;
            height: $titleHeight;
            top  : 0;
            left : 0;
          }

        }

      }

      .bg {
        position: absolute;
        width: 100%;
        margin-top: $audioHeight/2;
        height: 0px;
        background: $bgColor;

        @include transition-property(all);
        @include transition-duration(.6s);

      }

      .canvas-bg {
        position: absolute;
      }


    }


    &.normal {
      margin-top: -1*$audioHeight;
    }

    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-delay(0.5s);

    &.active {
      margin-top: 0px;
    }

  }

  // -------------
  // audio
  // -------------

  .small-border {
    width: 100%;
    background: $bgColor;
    height: 2px;
  }

  .large-border {
    width: 100%;
    background: $bgColor;
    margin-top: 1px;
    height: 8px;
  }

  .social {

    text-align: center;

    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-delay(.6s);

    &.normal {
      margin-top: -30px;
      opacity: 0;
    }

    &.active {
      margin-top: 10px;
      opacity: 1;
    }

    a {
      text-decoration: none;
      color: $bgColor;
      display:inline-block;
    }

  }

}

