@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?30104969');
  src: url('../fonts/fontello.eot?30104969#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff?30104969') format('woff'),
  url('../fonts/fontello.ttf?30104969') format('truetype'),
  url('../fonts/fontello.svg?30104969#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}