@import "compass/reset";
@import "compass/css3";
// external file
@import "font";
@import "audio";

$bgColor: rgb(22, 24, 19);
$linkColor: rgb(186, 156, 121);

$audioHeight: 80px;

body {
  background: $bgColor;
  color: $bgColor;
  font-family: "Georgia", serif;

  width: 100%;
  height: 100%;

  overflow: hidden;

}

// --- load ---

#load-cover {
  position: absolute;

  width: 100%;
  height: 100%;

  background: $bgColor;
  @include single-transition(all, .6s);

  #text{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -60px;
    margin-top: 100px;

    #load-text{
      width: 100%;
      text-align: center;
      color: $linkColor;
      opacity: 0.8;
      margin-bottom: 20px;
    }

    #dev-text{
      width: 100%;
      text-align: center;
      color: $linkColor;

      font-size: 11px;

      a{

        background: $linkColor;
        color: $bgColor;
        text-decoration: none;

        padding: 2px 4px;
        margin-left: 4px;
        @include single-transition(all, .6s);

        &:hover {
          background: $bgColor;
          color: $linkColor;
          text-decoration: underline;
        }

      }

    }

    &.loaded{
      opacity: 0;
    }

  }




}

.ball {
  @include single-transition(all, .4s);
  &.loaded {
    opacity: 0;
  }
}

// --- main-wrapper ---

#main-wrapper {
  @include single-transition(all, .6s);
  position: absolute;

  #main-content {
    position: relative;

    #logo-img {
      z-index: 2;

      @include single-transition(all, 1.2s);
      &.hover {
        margin-top: -160px;
      }
    }
  }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before {
  content: '\e806';
}

/* '' */
.icon-play:before {
  content: '\e803';
}

/* '' */
.icon-stop:before {
  content: '\e804';
}

/* '' */
.icon-pause:before {
  content: '\e805';
}

/* '' */
.icon-twitter:before {
  content: '\e801';
}

/* '' */
.icon-facebook-squared:before {
  content: '\e800';
}

/* '' */
.icon-soundcloud:before {
  content: '\e802';
}



